<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>شهادة حضور</title>
    <style>
        @font-face {
            font-family: 'Amiri';
            src: url('/static/fonts/Amiri-Regular.ttf') format('truetype');
        }
        body {
            font-family: 'Amiri', serif;
            text-align: center;
            direction: rtl;
            padding-top: 250px; /* عدل حسب مكان الاسم في الشهادة */
        }
        h1 {
            font-size: 48px;
            color: #000;
        }
    </style>
</head>
<body>
    <h1>{{ name }}</h1>
</body>
</html>